requests
Pillow
pyautogui
mss
pyinstaller
nuitka
pyperclip
httpx
websockets
pywin32; sys_platform == "win32"
psutil
uiautomation; sys_platform == "win32"
pyobjc; sys_platform == "darwin"
pyobjc-framework-Quartz; sys_platform == "darwin"
pyobjc-framework-Accessibility; sys_platform == "darwin"
